html
body
  height 100%
  margin 0
  #left
  #right
    position absolute
    height 100%
    width 400px
    top 0
  #left
    left 0
    background linear-gradient(left, #999 ,#d7d7d7)
  #center
    height 100%
    margin 0 400px 0 400px
    background linear-gradient(left,#d7d7d7 ,#fff, #d7d7d7)
  #right
    right 0
    background linear-gradient(left,#d7d7d7 ,#999)
    