html
body
  margin 0
  height 100%
#center
  width 100%
  height 100%
  float left
  #main
    height 100%
    margin 0 300px
    background linear-gradient(left,#B08585, #fff, #B08585)
#left
#right
  height 100%
  width 300px
  margin-left -100%
#left
  background linear-gradient(left, #B53939,#B08585)
  float left
#right
  background linear-gradient(left, #B08585, #B53939)
  float right