html
body
  maigin 0
  height 100%
  #center
    height 100%
    margin 0 300px
    background linear-gradient(left, #0e0e0e, #fff, #fff, #fff, #0e0e0e)
  #left
  #right
    height 100%
    width 300px
  #left
    float left
    background linear-gradient(left, #0a0a0a , #0e0e0e)
  #right
    float right
    background linear-gradient(left, #0e0e0e, #0a0a0a)
      